*.sw[po]
/tmp
/venv

__pycache__/

local_config.py

# helm chart pkgs
/helpdesk-*.tgz
# helm chart override values
/values.yaml
# subchart pkgs
contrib/charts/*/charts/*.tgz
# chart requirements lock
requirements.lock
