*.sw[po]
/tmp
/venv
/.vscode

__pycache__/

local_config.py
bridge.py

# helm chart pkgs
/helpdesk-*.tgz
# helm chart override values
/values.yaml
# subchart pkgs
contrib/charts/*/charts/*.tgz
# chart requirements lock
requirements.lock

# add by pdectl
.doubanpde/*
!.doubanpde/pde.yaml
!.doubanpde/pdectl-*
.doubanpde/pdectl-*/*
!.doubanpde/pdectl-*/Dockerfile.tpl
