aiofiles
Jinja2>=2.10.1
starlette>=0.11.4
gunicorn>=20.0
uvicorn>=0.6.1
python-multipart>=0.0.5
itsdangerous>=1.1.0
sentry-asgi>=0.1.5
databases[postgresql,mysql,sqlite]
SQLAlchemy-Utils>=0.33.11
mysqlclient>=1.4.2
cached-property>=1.5.1
st2client
rule
pyjwt==1.7.1
authlib
httpx
