SQLAlchemy==1.3.20
aiofiles
Jinja2>=2.10.1
gunicorn>=20.0
uvicorn[standard]
python-multipart>=0.0.5
itsdangerous>=1.1.0
sentry-asgi>=0.1.5
databases[postgresql,mysql,sqlite]==0.4.0
SQLAlchemy-Utils>=0.33.11
mysqlclient>=1.4.2
cached-property>=1.5.1
st2client==3.3.0
rule==0.1.1
Authlib==0.*
httpx==0.*
fastapi==0.*
