{% extends "_message_layout.html" %}

{% block title %}
{{ ticket.submitter }} request to {{ ticket.title }}
{% endblock %}

{% block content %}
Ticket: {{ url_for('web:ticket', ticket_id=ticket.id) }}
Params: {{ ticket.display_params }}
Request time: {{ ticket.created_at }}
Reason: {{ ticket.reason }}
{% if ticket.is_approved and ticket.is_auto_approved %}
This request is auto approved.
Execution result:
{{ ticket.execution_result_url }}
{% else %}
Do you want to approve this request?
Approve: {{ url_for('web:ticket_op', ticket_id=ticket.id, op='approve') }}
Reject: {{ url_for('web:ticket_op', ticket_id=ticket.id, op='reject') }}
{% endif %}
{% endblock %}
