{% extends "_layout.j2" %}

{% block _title %}{{ ticket.submitter }}'s request to {{ ticket.title }} has been marked as {{ ticket.status }} {% endblock %}

{% block _content %}
Ticket: {{ ticket.web_url }}
Parameters:
{%- for k, v in ticket.params.items() %}
    {%- if k != 'reason' %}
    - {{ k }}: {{ v -}}
    {% endif -%}
{% endfor %}
Request time: {{ ticket.created_at | timeLocalize }}
Reason: {{ ticket.reason }}
Status: {{ ticket.status }}
{{ 'Approval' if ticket.is_approved else 'Reject' }} time: {{ ticket.confirmed_at | timeLocalize }}
{% if ticket.is_approved %}
Execution result:
{{ ticket.execution_result_url }}
{% endif %}
{% endblock %}
