
{% extends "_layout.j2" %}

{% block _title %}{{ ticket.submitter }} request to {{ ticket.title }}{% endblock %}

{% block _content %}
Ticket: {{ ticket.web_url }}
Parameters:
{%- for k, v in ticket.params.items() %}
    {%- if k != 'reason' %}
    - {{ k }}: {{ v -}}
    {% endif -%}
{% endfor %}
Request time: {{ ticket.created_at }}
Reason: {{ ticket.reason }}
{% if ticket.is_approved and ticket.is_auto_approved %}
This request is auto approved.
Execution result:
{{ ticket.execution_result_url }}
{% else %}
Do you want to approve this request?
Approve: {{ ticket.web_url }}/approve
Reject: {{ ticket.web_url }}/reject
{% endif %}
{% endblock %}
