{% extends "base_header.html" %}
{% block title %}Helpdesk | {{ action.name }}{% endblock %}

{#
{% macro render_action_tree(tree) %}
      <div class="list-group">
        <label class="label label-default">{{ tree.name }}</label>
    {% for sub in tree.nexts %}
        {% if sub.action %}
        <a class="list-group-item" href="{{ url_for('web:index', full_path=sub.action.target_object) }}" title="{{ sub.action.desc }}">{{ sub.action.name }}</a>
        {% endif %}
        {% if sub.nexts %}
            {{ render_action_tree(sub) }}
        {% endif %}
    {% endfor %}
      </div>
{%- endmacro %}
#}

{% block container %}
<a-layout style="padding: 0 24px 24px">

    <a-layout-sider width="300" style="background: #fff">
        <h-menu data="{{ menu_data }}"></h-menu>
        {#
        {% for sub in action_tree.nexts %}
          {{ render_action_tree(sub) }}
        {% endfor %}
        #}
    </a-layout-sider>

    <a-layout-content
        :style="{ background: '#fff', padding: '24px', margin: '0 24px', minHeight: '280px' }"
    >
    <a-divider orientation="left"><h3>{{ action.name }}</h3></a-divider>
    {% if msg %}
    {# FIXME: a-alert message allow html
    <a-alert
      message="{% autoescape false %}{{ msg }}{% endautoescape %}"
      type="{{ msg_level }}"
      :style="{ margin: '16px' }"
      closable
    >
    </a-alert>
    #}
    <div data-show="true" class="ant-alert ant-alert-{{ msg_level }} ant-alert-no-icon" style="margin: 16px;">
        {% autoescape false %}{{ msg }}{% endautoescape %}
    </div>
    {% endif %}
    <a-alert
      message="{{ action.desc or action.description(provider) }}"
      type="info"
      :style="{ margin: '16px' }"
    >
    </a-alert>

    <h-form></h-form>

    {% if request.user.is_admin %}
    <h-drawer></h-drawer>
    {% endif %}

    </a-layout-content>
</a-layout>
{% endblock container %}

{% macro render_param(name, property) %}
    {% if not property['immutable'] %}
    <a-form-item label="{{ name }}"
      :label-col="{ span: 5 }"
      :wrapper-col="{ span: 12 }"
      extra="{{ property['description'] }}"
    >

        {% if property['type'] == 'boolean' %}
            <a-checkbox name="{{ name }}"></a-checkbox>
        {% elif property['enum'] %}
            <v-select
                name="{{ name }}"
                :options="{{ property['enum'] }}"
                :multiple="true"
                :clearable="true"
                :searchable="true"
                :filterable="true"
                :taggable="true"
                :select-on-tab="true"
                v-model="selectedValues['{{ name }}']"
            ></v-select>
            <a-input type='hidden' name="{{ name }}" v-model="selectedValues['{{ name }}']"></a-input>

            {#
            <a-select
            mode="multiple"
            style="width: 100%"
            :tokenSeparators="[',']"
            {% if property['required'] %}
            v-decorator="[
              '{{ name }}',
              {rules: [{ required: true, message: 'This field is required!' }]}
            ]"
            {% endif %}
            v-model="selectedValues['{{ name }}']"
            >
                {% for choice in property['enum'] %}
                <a-select-option key="{{ choice }}">{{ choice }}</a-select-option>
                {% endfor %}
            </a-select>
            <a-input type='hidden' name="{{ name }}" v-model="selectedValues['{{ name }}']"></a-input>
            #}

        {% else %}
            <a-textarea name="{{ name }}"
                rows="1"
                placeholder="{% if property['required'] %}required{% else %}optional{% endif %}"
                autosize
                required="{% if property['required'] %}required{% else %}{% endif %}"
                {% if property['required'] %}
                v-decorator="[
                  '{{ name }}',
                  {rules: [{ required: true, message: 'This field is required!' }]}
                ]"
                {% endif %}
            ></a-textarea>
        {% endif %}

    </a-form-item>
    {% endif %}
{% endmacro %}

{% block extra_js %}
<script type="text/javascript" src="{{ url_for('static', path='/chosen/chosen.jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', path='/js/bootstrap3-typeahead.min.js') }}"></script>
<script type="text/javascript">
$(function() {
    $(".chosen-select").chosen();
    $("[rel='tooltip']").tooltip();
});
</script>

{% macro render_action_tree2(tree, level=1) %}
    <a-sub-menu key="{{ '%s-%s' % (level, tree.name) }}">
      <span slot="title"><a-icon type="folder" /><span>{{ tree.name }}</span></span>
    {% for sub in tree.nexts %}
      {% if sub.action %}
      <a-menu-item key="{{ sub.action.name }}">
        <a href="{{ url_for('web:index', full_path=sub.action.target_object) }}" title="{{ sub.action.desc }}"></a>
      {{ sub.action.name }}
      </a-menu-item>
      {% endif %}
      {% if sub.nexts %}
        {{ render_action_tree2(sub, level+1) }}
      {% endif %}
    {% endfor %}
    </a-sub-menu>
{%- endmacro %}

<script type="text/x-template" id="menu-template">
  <a-menu
    mode="inline"
    :openKeys="openKeys"
    :defaultSelectedKeys="selectedKeys"
    @openChange="onOpenChange"
    :style="{ height: '100%', borderRight: 0 }"
  >
    <a-menu-item>
        <a-input-search placeholder="Search" @change="onSearchChange" />
    </a-menu-item>
    <a-menu-item key="{{ action_tree.name }}">
        <a href="/">{{ action_tree.name }}</a>
    </a-menu-item>
    {% for sub in action_tree.nexts %}
      {{ render_action_tree2(sub) }}
    {% endfor %}
  </a-menu>
</script>

<script type="text/x-template" id="form-template">
  <a-form key="h-form" action="" method="POST"
  	@submit="handleSubmit"
  >
      {% for name, param_property in action.parameters(provider).items() %}
          {{ render_param(name, param_property) }}
      {% endfor %}
      <a-form-item
          :wrapper-col="{ span: 12, offset: 5 }"
      >
          <a-button
            type="primary"
            html-type="submit"
          >
            Submit
          </a-button>
      </a-form-item>
  </a-form>
</script>

<script type="text/x-template" id="drawer-template">
<div>
  <a-drawer
    key="h-drawer"
    title="Admin Panel"
    :width="720"
    placement="right"
    :closable="false"
    @close="onClose"
    :visible="visible"
  >
    <div slot="handle" class="ant-pro-setting-drawer-handle" @click="showDrawer">
      <a-icon type="setting" :style="{color: '#fff', fontSize: '20px'}"/>
    </div>

    <a-form :action="action_url" method="POST"
        layout="vertical" hideRequiredMark
    	@submit="onSubmit"
    >
        <a-form-item label="Name">
            <a-input name="test" placeholder="Please enter user name"
                required="true"
            ></a-input>
        </a-form-item>

        <a-form-item :style="{textAlign: 'right'}"
        >
            <a-button
              type="primary"
              html-type="submit"
            >
              Submit
            </a-button>
        </a-form-item>
    </a-form>

    <p>Some contents...</p>
    <p>Some contents...</p>
    <p>Some contents...</p>

    {% if debug and request.user.is_admin %}
    <div>
      <a-collapse accordion :bordered="false">
        <a-collapse-panel header="Debug Info" key="1">
          <div v-pre>
            <p>action: {{ action.get_action(provider)|tojson }}</p>
            {% if execution %}
            <p>execution: {{ execution|tojson }}</p>
            {% endif %}
            {% if ticket %}
            <p>ticket: {{ ticket|tojson }}</p>
            {% endif %}
          </div>
        </a-collapse-panel>
      </a-collapse>
    </div>
    {% endif %}

  </a-drawer>
</div>
</script>

<script type="text/javascript">
Vue.component('h-menu', {
  props: ['data'],
  data: function () {
    return JSON.parse(this.data)
  },
  methods: {
    onOpenChange (openKeys) {
      const latestOpenKey = openKeys.find(key => this.openKeys.indexOf(key) === -1)
      if (!latestOpenKey || this.openKeys.length === 0) {
          this.openKeys = openKeys
          return
      }
      if (this.openKeys[this.openKeys.length-1].split('-')[0] == latestOpenKey.split('-')[0]) {
        this.openKeys.pop()
      } else if (latestOpenKey.split('-')[0] == '1') {
          this.openKeys = []
      }
      this.openKeys.push(latestOpenKey)
      // console.log(openKeys + ', ' + this.openKeys + ', ' + latestOpenKey)
    },
    // TODO: search menu
    onSearchChange (e) {
    },
  },
  template: '#menu-template'
})

Vue.component('h-form', {
  props: [],
  data: function () {
      return {
        selectedValues: {},
      }
  },
  methods: {
    handleSubmit (e) {
      // e.preventDefault();
    },
  },
  template: '#form-template'
})

Vue.component('h-drawer', {
  data() {
    return {
      visible: false,
      handle: "handle",
      action_url: "{{ url_for('api:admin_panel', target_object=action.target_object) }}",
    }
  },
  methods: {
    showDrawer() {
      this.visible = true
    },
    onClose() {
      this.visible = false
    },
    onSubmit(e) {
      e.preventDefault();
      // TODO:

      let message = this.$message

      let data = {}

      let xhr = new XMLHttpRequest();
      xhr.responseType = 'json';
      xhr.onreadystatechange = function() {
        if (this.readyState == 4) {
          var jsonResponse = xhr.response;
          if (this.status == 200) {
            message.success(JSON.stringify(jsonResponse));
          } else {
            message.warning(JSON.stringify(jsonResponse));
          }
        }
      };
      xhr.open('POST', this.action_url, true);
      xhr.send(data);

    },
  },
  template: '#drawer-template'
})

// https://vue-select.org
Vue.component('v-select', VueSelect.VueSelect);

// we need ES6
// import { Form } from 'ant-design-vue';
// Vue.use(Form)

new Vue({
  el: '#app',
  data: {
  },
  methods: {
  }
})
</script>
{% endblock extra_js %}
