{% extends "base_header.html" %}
{% block title %}Helpdesk | {{ action.name }}{% endblock %}

{#
{% macro render_action_tree(tree) %}
      <div class="list-group">
        <label class="label label-default">{{ tree.name }}</label>
    {% for sub in tree.nexts %}
        {% if sub.action %}
        <a class="list-group-item" href="{{ url_for('web:index', full_path=sub.action.target_object) }}" title="{{ sub.action.desc }}">{{ sub.action.name }}</a>
        {% endif %}
        {% if sub.nexts %}
            {{ render_action_tree(sub) }}
        {% endif %}
    {% endfor %}
      </div>
{%- endmacro %}
#}

{% block container %}
<a-layout style="padding: 0 24px 24px">

    <a-layout-sider width="300" style="background: #fff">
        <h-menu data="{{ menu_data }}"></h-menu>
        {#
        {% for sub in action_tree.nexts %}
          {{ render_action_tree(sub) }}
        {% endfor %}
        #}
    </a-layout-sider>

    <a-layout-content
        :style="{ background: '#fff', padding: '24px', margin: '0 24px', minHeight: '280px' }"
    >
    <a-divider orientation="left"><h3>{{ action.name }}</h3></a-divider>
    {% if msg %}
    <a-alert
      message="{% autoescape false %}{{ msg }}{% endautoescape %}"
      type="{{ msg_level }}"
      :style="{ margin: '16px' }"
      closable
    >
    </a-alert>
    {% endif %}
    <a-alert
      message="{{ action.desc }}"
      type="info"
      :style="{ margin: '16px' }"
    >
    </a-alert>

    <a-form action="" method="POST"
    	@submit="handleSubmit"
    >
        {% for name, param_property in action.parameters(provider).items() %}
            {{ render_param(name, param_property) }}
        {% endfor %}
        <a-form-item
            :wrapper-col="{ span: 12, offset: 5 }"
        >
            <a-button
              type="primary"
              html-type="submit"
            >
              Submit
            </a-button>
        </a-form-item>
    </form>

    {% if debug and request.user.is_admin %}
    <a-card title="Debug Info">
        <div v-pre>
        <p>action: {{ action.get_action(provider)|tojson }}</p>
        {% if execution %}
        <p>execution: {{ execution|tojson }}</p>
        {% endif %}
        {% if ticket %}
        <p>ticket: {{ ticket|tojson }}</p>
        {% endif %}
        </div>
    </a-card>
    {% endif %}

    </a-layout-content>
</a-layout>
{% endblock container %}

{% macro render_param(name, property) %}
    {% if not property['immutable'] %}
    <a-form-item label="{{ name }}"
      :label-col="{ span: 5 }"
      :wrapper-col="{ span: 12 }"
      extra="{{ property['description'] }}"
    >

        {% if property['type'] == 'boolean' %}
            <a-checkbox name="{{ name }}"></a-checkbox>
        {% elif property['enum'] %}
            {# TODO: respect select input, fix submission #}
            <a-select
            name="{{ name }}"
            mode="tags"
            style="width: 100%"
            :tokenSeparators="[',']"
            {% if property['required'] %}
            v-decorator="[
              '{{ name }}',
              {rules: [{ required: true, message: 'This field is required!' }]}
            ]"
            {% endif %}
            >
                {% for choice in property['enum'] %}
                <a-select-option key="{{ choice }}">{{ choice }}</a-select-option>
                {% endfor %}
            </a-select>
        {% else %}
            <a-textarea name="{{ name }}"
                rows="1"
                placeholder="{% if property['required'] %}required{% else %}optional{% endif %}"
                autosize
                required="{% if property['required'] %}required{% else %}{% endif %}"
                {% if property['required'] %}
                v-decorator="[
                  '{{ name }}',
                  {rules: [{ required: true, message: 'This field is required!' }]}
                ]"
                {% endif %}
            ></a-textarea>
        {% endif %}

    </a-form-item>
    {% endif %}
{% endmacro %}

{% block extra_js %}
<script type="text/javascript" src="{{ url_for('static', path='/chosen/chosen.jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', path='/js/bootstrap3-typeahead.min.js') }}"></script>
<script type="text/javascript">
$(function() {
    $(".chosen-select").chosen();
    $("[rel='tooltip']").tooltip();
});
</script>

{% macro render_action_tree2(tree, level=1) %}
    <a-sub-menu key="{{ '%s-%s' % (level, tree.name) }}">
      <span slot="title"><a-icon type="folder" /><span>{{ tree.name }}</span></span>
    {% for sub in tree.nexts %}
      {% if sub.action %}
      <a-menu-item key="{{ sub.action.name }}">
        <a href="{{ url_for('web:index', full_path=sub.action.target_object) }}" title="{{ sub.action.desc }}"></a>
      {{ sub.action.name }}
      </a-menu-item>
      {% endif %}
      {% if sub.nexts %}
        {{ render_action_tree2(sub, level+1) }}
      {% endif %}
    {% endfor %}
    </a-sub-menu>
{%- endmacro %}

<script type="text/x-template" id="menu-template">
  <a-menu
    mode="inline"
    :openKeys="openKeys"
    :defaultSelectedKeys="selectedKeys"
    @openChange="onOpenChange"
    :style="{ height: '100%', borderRight: 0 }"
  >
    <a-menu-item key="{{ action_tree.name }}">
	    {{ action_tree.name }}
    </a-menu-item>
    {% for sub in action_tree.nexts %}
      {{ render_action_tree2(sub) }}
    {% endfor %}
  </a-menu>
</script>

<script type="text/javascript">
Vue.component('h-menu', {
  props: ['data'],
  data: function () {
    return JSON.parse(this.data)
  },
  methods: {
    onOpenChange (openKeys) {
      const latestOpenKey = openKeys.find(key => this.openKeys.indexOf(key) === -1)
      if (!latestOpenKey || this.openKeys.length === 0) {
          this.openKeys = openKeys
          return
      }
      if (this.openKeys[this.openKeys.length-1].split('-')[0] == latestOpenKey.split('-')[0]) {
        this.openKeys.pop()
      }
      this.openKeys.push(latestOpenKey)
      console.log(openKeys + ', ' + this.openKeys + ', ' + latestOpenKey)
    },
  },  
  template: '#menu-template'
})

// we need ES6
// import { Form } from 'ant-design-vue';
// Vue.use(Form)

new Vue({
  el: '#app',
  data: {
  },
  methods: {
    handleSubmit (e) {
      // e.preventDefault();
    },
  }
})
</script>
{% endblock extra_js %}
