name: docker

on:
  push:
    branches: [ master ]


jobs:

  frontend:
    name: Build frontend
    runs-on: ubuntu-latest
    steps:

    - uses: actions/setup-node@v1
      with:
        node-version: '12'

    - name: Check out code
      uses: actions/checkout@v2

    - run: npm install
      working-directory: frontend
    - run: npm run lint
      working-directory: frontend
    - run: npm run test:unit
      working-directory: frontend
    - run: npm run build
      working-directory: frontend
    - run: zip -r frontend.zip dist
      working-directory: frontend
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2
      with:
        # Artifact name
        name: frontend.zip # optional
        # A file, directory or wildcard pattern that describes what to upload
        path: frontend/frontend.zip


  docker:
    name: Build and Push
    runs-on: ubuntu-latest
    needs: frontend
    if: github.ref == 'refs/heads/master'
    steps:
    - uses: docker/build-push-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: douz/helpdesk
        tags: latest
    - uses: docker/build-push-action@v1
      with:
        path: frontend
        dockerfile: frontend/Dockerfile
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: douz/helpdesk-frontend
        tags: latest
